@{
    ViewData["Title"] = "Home Page";
}
<style>
    .small-box p {
        font-size: 0.85rem !important;
    }
</style>
<div class="row">
   

</div>

@section Scripts{
    <script>
       
    </script>
}
