<!doctype html>
<html lang="en" data-layout="vertical" data-topbar="light" data-sidebar="dark" data-sidebar-size="lg" data-sidebar-image="none" data-preloader="disable">


<!-- Mirrored from themesbrand.com/velzon/html/default/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 25 Nov 2024 10:24:49 GMT -->
<head>

   <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
   <title>@ViewBag.Title</title>

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- jsvectormap css -->
    <link href="~/assets/libs/jsvectormap/jsvectormap.min.css" rel="stylesheet" type="text/css" />

    <!--Swiper slider css-->
    <link href="~/assets/libs/swiper/swiper-bundle.min.css" rel="stylesheet" type="text/css" />

    <link rel="stylesheet" href="~/AdminLTE/plugins/fontawesome-free/css/all.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Tempusdominus Bootstrap 4 -->
   @*  <link rel="stylesheet" href="~/AdminLTE/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css"> *@
    <!-- iCheck -->
    <link rel="stylesheet" href="~/AdminLTE/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <!-- JQVMap -->
    <link rel="stylesheet" href="~/AdminLTE/plugins/jqvmap/jqvmap.min.css">
    <!-- DataTables -->
    <link rel="stylesheet" href="~/velzontheme/cdn.datatables.net/responsive/2.2.9/css/responsive.bootstrap.min.css">
    <link rel="stylesheet" href="~/velzontheme/cdn.datatables.net/1.11.5/css/dataTables.bootstrap5.min.css">
    <link rel="stylesheet" href="~/velzontheme/cdn.datatables.net/buttons/2.2.2/css/buttons.dataTables.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/AdminLTE/dist/css/adminlte.min.css">
   
   
    <!-- overlayScrollbars -->
    <link rel="stylesheet" href="~/AdminLTE/plugins/overlayScrollbars/css/OverlayScrollbars.min.css">
    <!-- Daterange picker -->
    <link rel="stylesheet" href="~/AdminLTE/plugins/daterangepicker/daterangepicker.css">
    <!-- summernote -->
    <link rel="stylesheet" href="~/AdminLTE/plugins/summernote/summernote-bs4.min.css">
    <!-- SweetAlert2 -->
    <link rel="stylesheet" href="~/AdminLTE/plugins/toastr/toastr.min.css">
    <link href="~/css/sweetalert2.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/loader.css">
    <link href="~/css/bootstrap-datetimepicker.min.css" rel="stylesheet" />

    <link rel="stylesheet" href="~/assets/libs/gridjs/theme/mermaid.min.css">
  
    <link href="~/assets/css/icons.min.css" rel="stylesheet" type="text/css" />
    <!-- App Css-->
    <link href="~/assets/css/app.min.css" rel="stylesheet" type="text/css" />
    <!-- custom Css-->
    <link href="~/assets/css/custom.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />

    <link href="~/css/customCard.css" rel="stylesheet" />
    <link href="~/css/customButton.css" rel="stylesheet" />
   
</head>

<body>

    <!-- Begin page -->
    <div id="layout-wrapper">

        @await Html.PartialAsync("_Navbar")


        <!-- ========== App Menu ========== -->
        @await Html.PartialAsync("_Sidebar")
        <!-- Left Sidebar End -->
        <!-- Vertical Overlay-->
        <div class="vertical-overlay"></div>

        <!-- ============================================================== -->
        <!-- Start right Content here -->
        <!-- ============================================================== -->
        <div class="main-content">

            <div class="page-content">
                <div class="container-fluid">

                    @RenderBody()

                </div>
                <!-- container-fluid -->
            </div>
            <!-- End Page-content -->

            @await Html.PartialAsync("_Footer")

            <div id="form-modal" class="modal fade" tabindex="-1" aria-labelledby="modalTitle" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="modalTitle">Modal Title</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <!-- Content will be loaded dynamically -->
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- end main content-->

    </div>
    <!-- END layout-wrapper -->



    <!--start back-to-top-->
    <button onclick="topFunction()" class="btn btn-danger btn-icon" id="back-to-top">
        <i class="ri-arrow-up-line"></i>
    </button>
    <!--end back-to-top-->

    <!--preloader-->
    <div id="preloader">
        <div id="status">
            <div class="spinner-border text-primary avatar-sm" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>
    </div>

    <div class="customizer-setting d-none d-md-block">
        <div class="btn-info rounded-pill shadow-lg btn btn-icon btn-lg p-2" data-bs-toggle="offcanvas" data-bs-target="#theme-settings-offcanvas" aria-controls="theme-settings-offcanvas">
            <i class='mdi mdi-spin mdi-cog-outline fs-22'></i>
        </div>
    </div>
   

    <!-- App js -->
  
    <!-- jQuery -->
    <script src="~/velzontheme/code.jquery.com/jquery-3.6.0.min.js"></script>

    <script src="~/velzontheme/cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>

    <script src="~/AdminLTE/plugins/jquery-ui/jquery-ui.min.js"></script> 
    <script src="~/AdminLTE/plugins/moment/moment.min.js"></script>
    <script src="~/AdminLTE/plugins/inputmask/jquery.inputmask.min.js"></script>
    <script src="~/AdminLTE/plugins/daterangepicker/daterangepicker.js"></script>
    <script src="~/AdminLTE/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/AdminLTE/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/AdminLTE/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/AdminLTE/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
    <script src="~/AdminLTE/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/AdminLTE/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
    <script src="~/AdminLTE/plugins/jszip/jszip.min.js"></script>
    <script src="~/AdminLTE/plugins/pdfmake/pdfmake.min.js"></script>
    <script src="~/AdminLTE/plugins/pdfmake/vfs_fonts.js"></script>
    <script src="~/AdminLTE/plugins/datatables-buttons/js/buttons.html5.min.js"></script>
    <script src="~/AdminLTE/plugins/datatables-buttons/js/buttons.print.min.js"></script>
    <script src="~/AdminLTE/plugins/datatables-buttons/js/buttons.colVis.min.js"></script>
    <!-- SweetAlert2 -->
    <script src="~/js/sweetalert2.all.min.js"></script>
    <!-- SweetAlert2 -->
    <script src="~/AdminLTE//plugins/sweetalert2/sweetalert2.min.js"></script>
    <script src="~/AdminLTE/plugins/toastr/toastr.min.js"></script>
    <!-- ChartJS -->
   @*  <script src="~/AdminLTE/plugins/chart.js/Chart.min.js"></script> *@
    <!-- Sparkline -->
    <script src="~/AdminLTE/plugins/sparklines/sparkline.js"></script>

    <!-- Summernote -->
    <script src="~/AdminLTE/plugins/summernote/summernote-bs4.min.js"></script>
    <!-- overlayScrollbars -->
    <script src="~/AdminLTE/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/AdminLTE/dist/js/adminlte.js"></script>
    <script src="~/js/CustomScripts/CommonDropdown.js"></script>
    
    <script src="~/js/bootstrap-datetimepicker.min.js"></script>

    <script src="~/assets/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/assets/libs/simplebar/simplebar.min.js"></script>
    <script src="~/assets/libs/node-waves/waves.min.js"></script>
    <script src="~/assets/libs/feather-icons/feather.min.js"></script>
    <script src="~/assets/js/pages/plugins/lord-icon-2.1.0.js"></script>
    <script src="~/assets/js/plugins.js"></script>

    <script src="~/assets/libs/swiper/swiper-bundle.min.js"></script>

    <!-- apexcharts -->
    <script src="~/assets/libs/apexcharts/apexcharts.min.js"></script>

    <!-- Vector map-->
    <script src="~/assets/libs/jsvectormap/jsvectormap.min.js"></script>
    <script src="~/assets/libs/jsvectormap/maps/world-merc.js"></script>

    <!-- gridjs js -->
    <script src="~/assets/libs/gridjs/gridjs.umd.js"></script>
    <script src="~/assets/js/layout.js"></script>
    <!-- Dashboard init -->
    @* <script src="~/assets/js/pages/dashboard-job.init.js"></script> *@

    <!-- App js -->
    

    <script>
        $.widget.bridge('uibutton', $.ui.button);
        $(document).ajaxStart(function () {
                  $('#AjaxLoader').show();
              }).ajaxStop(function () {
                  $('#AjaxLoader').hide();
              });
        $('#example').DataTable({
                  dom: 'Bfrtip',
                  buttons: [],
                  "ordering": false
              });


              $('#example_1').DataTable({
                  dom: 'Bfrtip',
              })

              $('#example2').DataTable({
                  dom: 'Bfrtip',

                  buttons: [
                      'copy', 'csv', 'excel', 'pdf', 'print'
                  ]
              });

              $('#example3').DataTable({
                  dom: 'Bfrtip',
                  buttons: [
                      'copy', 'csv', 'excel'
                  ]
              });

              $('#example4').DataTable({
                  dom: 'Bfrtip',
                  buttons: [
                      'copy', 'csv', 'excel'
                  ]
              });
              $('#example5').DataTable({
                  dom: 'Bfrtip',
                  buttons: [
                        'csv', 'excel', 'print'
                  ]
              });

              $(document).ready(function () {
                  // Setup - add a text input to each footer cell
                  $('#example tfoot th').each(function () {
                      var title = $(this).text();

                  });

                  // DataTable
                  var table = $('#example').DataTable();

                  // Apply the search
                  table.columns().every(function () {
                      var that = this;

                      $('input', this.footer()).on('keyup change', function () {
                          if (that.search() !== this.value) {

                              /*that
                                  .search( this.value )
                                  .draw();*/
                          }
                      });
                  });
              });
    </script>
    <script>

        $("#btnLogout").on("click",function(e){
            debugger;
        e.preventDefault();
        var form = $(this).parents('form');
        Swal.fire({
              title: 'Do you want to log out?',
              showCancelButton: true,
              confirmButtonText: 'Log out',
            }).then((result) => {
              /* Read more about isConfirmed, isDenied below */
              if (result.isConfirmed) {
                  form.submit();
              }
            });
                    });
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>


<!-- Mirrored from themesbrand.com/velzon/html/default/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 25 Nov 2024 10:25:50 GMT -->
</html>